<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Tips：</p>
    <p>1.选择签约产品</p>
    <p>2.验证输入合同号及客户名</p>
    <p>3.录入信息(注意填写必填项目,所有必填项目填写点击"检查"后才能"提交")</p>
    <p>4.不符合填写要求的输入框会红框提示，请更正</p>
    <p>5.不同城市请用“；”分开，如：杭州；深圳</p>
    <p> </p>
    <p>Q&A：</p>
    <p> </p>
    <p>Q：我点击了检查呀，为什么提交按钮没还是禁止状态？</p>
    <p>A：有些输入框要求是 必填的选项 或者 要求是数字的选项 填写不合规。</p>
    <p> </p>
    <p>Q：社保需求和薪税需求我有很多条要写可是为什么只有一条呀？</p>
    <p>A：检查 -> 提交之后就可以写下一条了。</p>
    <p> </p>
{#    <p>Q：我的启动函基本信息 不！！见！！了！！</p>#}
{#    <p>A：亲，你刚刚已经提交了。</p>#}
{#    <p> </p>#}
{#    <p>Q：QAQ 我写错了，能改吗？</p>#}
{#    <p>A：不能，重新写吧。下次注意要仔细些，你写错了我在后台得把错的找出来处理掉很累的。</p>#}
{#    <p> </p>#}
{#    <p>Q：我想不到其他问题了。。。你还有什么要嘱托的吗？</p>#}
{#    <p>A：请不要重复提交同一合同。</p>#}
</body>
</html>