<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Tips：</p>
    <p>1.选择签约产品</p>
    <p>2.验证输入合同号及客户名</p>
    <p>3.录入信息，注意填写必填项</p>
    <p>4.不符合填写要求的输入框会红框提示，请更正</p>
    <p>5.社保需求和薪税需求点击“新增”添加</p>
    <p>6.点击保存保存此启动函</p>
</body>
</html>
