<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <table class="table table-striped table-bordered table-hover">
        <tr><td colspan="10">启动函部分基本信息</td></tr>
        <tr>
            <td>合同编号</td>
            <td>客户名称</td>
            <td>业务类型</td>
            <td>产品名称</td>
            <td>负责销售</td>
            <td>销售所属分公司</td>
            <td>首次启动人数</td>
            <td>项目启动日期</td>
            <td>客服经理</td>
            <td>客户代理人</td>
        </tr>
        {% for item in mainform %}
        <tr>
            <td>{{ item["合同编号"] }}</td>
            <td>{{ item["客户名称"] }}</td>
            <td>{{ item["业务类型"] }}</td>
            <td>{{ item["产品名称"] }}</td>
            <td>{{ item["负责销售"] }}</td>
            <td>{{ item["销售所属分公司"] }}</td>
            <td>{{ item["首次启动人数"] }}</td>
            <td>{{ item["项目启动日期"] }}</td>
            <td>{{ item["客服经理"] }}</td>
            <td>{{ item["客户代理人"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <table class="table table-striped table-bordered table-hover">
        <tr><td colspan="5">社保需求</td></tr>
        <tr>
            <td>合同编号</td>
            <td>社保缴纳城市</td>
            <td>不收取残保金城市</td>
            <td>社保到款日</td>
            <td>是否涉及异地参保</td>
        </tr>
        {% for item in securityform %}
        <tr>
            <td>{{ item["合同编号"] }}</td>
            <td>{{ item["社保缴纳城市"] }}</td>
            <td>{{ item["不收取残保金城市"] }}</td>
            <td>{{ item["社保到款日"] }}</td>
            <td>{{ item["是否涉及异地参保"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <table class="table table-striped table-bordered table-hover">
        <tr><td colspan="6">薪税需求</td></tr>
        <tr>
            <td>合同编号</td>
            <td>工资报税地</td>
            <td>工资到款日</td>
            <td>工资发放日</td>
            <td>工资发放类型</td>
            <td>薪税需求备注</td>
        </tr>
        {% for item in securityform %}
        <tr>
            <td>{{ item["合同编号"] }}</td>
            <td>{{ item["工资报税地"] }}</td>
            <td>{{ item["工资到款日"] }}</td>
            <td>{{ item["工资发放日"] }}</td>
            <td>{{ item["工资发放类型"] }}</td>
            <td>{{ item["薪税需求备注"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>