<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>选择产品</title>
</head>
<body>
    <table class="table table-striped table-bordered table-hover" style="width: 50%;">
        <tr><th>业务类型</th><th>产品名称</th></tr>
        <tr><td rowspan="9">代理</td><td><a href="/inputclass?type=1&cls=1">金柚宝_标准</a></td></tr>
        <tr><td><a href="/inputclass?type=1&cls=2">金柚宝_尊享</a></td></tr>
        <tr><td><a href="/inputclass?type=1&cls=3">金柚宝_尊贵</a></td></tr>
        <tr><td><a href="/inputclass?type=1&cls=4">金柚宝_单立户</a></td></tr>
        <tr><td><a href="/inputclass?type=1&cls=5">金柚宝_尊享单立户</a></td></tr>
        <tr><td><a href="/inputclass?type=1&cls=6">金柚宝_同业</a></td></tr>
        <tr><td><a href="/inputclass?type=1&cls=7">金柚宝_尊享同业</a></td></tr>
        <tr><td><a href="/inputclass?type=1&cls=8">企业社保通_标准</a></td></tr>
        <tr><td><a href="/inputclass?type=1&cls=9">企业社保通_单立户</a></td></tr>
        <tr><td>劳务派遣</td><td><a href="/inputclass?type=2&cls=10">金柚帮帮</a></td></tr>
        <tr><td rowspan="4">外包</td><td><a href="/inputclass?type=3&cls=11">金柚管家</a></td></tr>
        <tr><<td><a href="/inputclass?type=3&cls=12">金柚管家_差额</a></td></tr>
        <tr><<td><a href="/inputclass?type=3&cls=13">金柚小灵</a></td></tr>
        <tr><<td><a href="/inputclass?type=3&cls=14">金柚小秘</a></td></tr>
        <tr><td>薪酬</td><td><a href="/inputclass?type=4&cls=15">金柚多多</a></td></tr>
        <tr><td rowspan="2">福利</td><td><a href="/inputclass?type=5&cls=16">金柚康康_商保</a></td></tr>
        <tr><td><a href="/inputclass?type=5&cls=17">金柚康康_体检</a></td></tr>
    </table>
</body>
</html>